@layer module, state;

:root {
  --font-family-body: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  --default-font-size: 1.6rem;
}

/* Web Awesome variables */
.wa-custom-theme {
  --wa-font-size-scale: 1.6;
  --wa-border-radius-scale: 3;
  --wa-shadow-scale: 1.6;
  --wa-space-scale: 1.6;
  
  --wa-color-surface-default: var(--wa-color-neutral-80);
  
  --wa-font-family-body: var(--font-family-body);
  
  --wa-color-brand-90: #e6f0fa; /* #lighter */
  --wa-color-brand-80: #a6d0f0;
  --wa-color-brand-70: #7a9ac5;
  --wa-color-brand-60: #557eb0;
  --wa-color-brand-50: #10b981;
  --wa-color-brand-40: #0d9668;
  --wa-color-brand-30: #005f99;
  --wa-color-brand-20: #004a7d;
  --wa-color-brand-10: #002339; /* #darker */
  --wa-color-danger-fill-normal: var(--wa-color-danger-60);

  --wa-form-control-border-radius: var(--wa-border-radius-l);
}

.wa-dark {
  .wa-custom-theme {
    --wa-color-surface-default: var(--wa-color-neutral-10);
  }
}